# config.yaml
odom_topic: "/odom"
trajectory_topic: "trajectory"
frame_id: "map"
batch_optimisation: true
noise_models:
  odometry:
    - 0.0001
    - 0.01
    - 0.0001
  prior:
    - 0.1
    - 0.3
    - 0.1
  bearing_range:
    - 0.1
    - 0.8
  point:
    - 10
    - 10
possible_ids:
  - "tag_0"
  - "tag_1"
  - "tag_2"
  # Add up to "tag_87"

